@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.footer {
  background: linear-gradient(
    90deg,
    rgb(31, 13, 71) 0%,
    rgb(55, 15, 156) 100%
  ) !important;
}

.footer p:hover {
  background-color: #f9e4d4 !important;
  color: #f9e4d4 !important;
  padding: 2px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer h3 {
    font-size: 1rem !important;
  }
  .footer-gif {
    height: 40px !important;
    width: 40px !important;
  }
}